* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#chartContainer {
  display: flex;
  border: 1px solid red;
  margin: 10% 10% 0;
  height: 100px;
  place-items: end;
  overflow: hidden;
}

.bar {
  background: lime;
  width: 3%;
  height: 40px;
  border: 1px solid black;
}
.animation {
  animation-name: move;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
