* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#chartContainer {
  display: flex;
  border: 1px solid red;
  margin: 10% 10% 0;
  height: 100px;
  place-items: end;
}

.bar {
  background: green;
  width: 3%;
  height: 40px;
  border: 1px solid black;
}
